new_data
data_habana
data
*ipynb
habana*
.gitignore
*.txt
dataset_*
cache
__pycache__
src/segmentation/model.pth
report/assets
papers
src/segmentation/processed_data
src/segmentation/heatmaps
*.json
*.exe
src/images_chunks
src/vectorization/vectorized_temp
src/vectorization/vectorized_data
Colección de Planos
expo.pptx